body {
  background-color: #f2f2f2;
  color: #000;
}
* {
	box-sizing: border-box !important;
}
.content {
	max-width: 40em;
	margin: 3em auto;
}
.search_submit {
  background-color: #ff9600;
  color: #000;
	font-family: montserrat,Arial,Helvetica,sans-serif;
}

form input[type=search], .pure-form input[type=tel], .pure-form input[type=color], .pure-form select, .pure-form textarea {
    padding: .5em .6em;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    vertical-align: middle;
    width: calc(100% - 5em);
    -webkit-appearance: textfield;
    line-height: normal;
    color: inherit;
    font: inherit;
    margin: 0;
}
