.podc-search-form fieldset,
.podc-embed-wrap fieldset {
	border: 0 none;
}
.podc-search-form input[type="search"],
.podc-embed-wrap input[type="search"] {
	width: calc(100% - 6em);

	/* From Pure framework */
	padding: .5em .6em;
	display: inline-block;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 3px #ddd;
	border-radius: 4px;
	vertical-align: middle;
	-webkit-appearance: textfield;
	line-height: normal;
	color: inherit;
	font: inherit;
	margin: 0;
}
.podc-search-form .search_submit,
.podc-embed-wrap .search_submit {
	background-color: #ff9600;
	color: #000;
	font-family: montserrat,Arial,Helvetica,sans-serif;

	/* From Pure framework */
	font-size: 100%;
	padding: .5em 1em;
	border: 1px solid #999;
	border: 0 rgba(0,0,0,0);
	text-decoration: none;
	border-radius: 2px;
	display: inline-block;
	zoom: 1;
	line-height: normal;
	white-space: nowrap;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	-webkit-user-drag: none;
	-webkit-user-select: none;
		-moz-user-select: none;
		 -ms-user-select: none;
				 user-select: none;

	-webkit-appearance: button;
	cursor: pointer;
}
.podc-embed-wrap .podc-result {
	min-height: 5em;
}

/* Results table */
.podc-table {
	width: 100%;
	text-align: center;
	border-spacing: 0;
}
.podc-table th,
.podc-table td {
	padding: 3px 5px;
	font-weight: normal;
}
.podc-table .months th {
	height: 5em;
	position: relative;
	text-align: left;
}
.podc-table th:nth-child(1) {
	width: 3em;
	text-align: left;
}
.podc-table .months span {
	position: absolute;
	display: block;
	left: 0;
	bottom: 0;
	transform-origin: 10% -10% 0;
	transform: rotate(-60deg);
}
@media (max-device-width: 600px) {
	.podc-table .months th {
		min-width: 7%;
		text-align: center;
	}
	.podc-table .months span {
		visibility: hidden;
		display: block;
		margin-left: calc(50% - .5em);
		transform-origin: 10% -10% 0;
		transform: rotate(0);
		width: 1em;
	}
	.podc-table .months span::before {
		visibility: visible;
		content: attr(data-month);
	}
}

.podc-table .months-values th,
.podc-table td {
	border-right: 1px solid #555;
	border-top: 1px solid #555;
}
.podc-table .months-values:last-child th,
.podc-table .months-values:last-child td {
	border-bottom: 1px solid #555;
}
.podc-table .ok {
	background-color: #d0e7d0;
	color: #0a4a0a;
}
.podc-table .not-ok {
	background-color: #e0c9c9;
	color: #692121;
}
