{% load staticfiles %}
{% load assets %}
<!DOCTYPE html>
<html lang="sl">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{% block title %}Neplačniki{% endblock %}</title>
  <link rel="stylesheet" href="{% static "styles.css" %}">
	<style>
* {
	box-sizing: border-box !important;
}
.content {
	max-width: 40em;
	margin: 3em auto;
}
input[type="search"] {
	width: calc(100% - 5em);
}
	</style>
</head>
<body class="shirk">
	<div class="content">
{% block content %}{% endblock %}
	</div>
</body>
</html>
