{% load staticfiles %}
{% with BASEURL="http://localhost:8000" %}
<section class="shk-embed-wrap">
  <style>
@import url("{{ BASEURL }}{% static "embed.css" %}");
  </style>
  {% include "shirkers/search.html" %}
  <div class="shk-result"></div>
  <script>
$( function() {
	document.body.classList.add("shirk");
  $('.shk-search-form').on('submit', function (e) {
    e.preventDefault();
    e.stopImmediatePropagation();
  });

  function fetchCompany(company_id) {
		var url = '{{ BASEURL }}/embed/result/' + company_id + '/';
    console.log(url);
    $('.shk-result').load(url);
  }

  $( "#id_q" ).autocomplete({
		source: "{{ BASEURL }}{% url "home" %}?format=json",
    minLength: 2,
    select: function( event, ui ) {
      console.log(ui.item.id);
      fetchCompany(ui.item.id);
    }
  });
} );
  </script>
</section>
{% endwith %}
