{% load staticfiles %}
{% with BASEURL="http://localhost:8001" %}
<section class="shk-embed-wrap">
  <style>
@import url("{{ BASEURL }}{% static "embed.css" %}");
  </style>
  {% include "shirkers/search.html" %}
  <div class="shk-result"></div>
  <script>
$( function() {
	document.body.classList.add("shirk");

  function fetchCompany(company) {
		var url = '{{ BASEURL }}{% url "embed" %}' + company;
    $.get(url, function (result) {

    });
  }

  $( "#id_q" ).autocomplete({
		source: "{{ BASEURL }}{% url "home" %}?format=json",
    minLength: 2,
    select: function( event, ui ) {
      fetchCompany(ui.item.id);
    }
  });
} );
  </script>
</section>
{% endwith %}
