{% load staticfiles %}
<section class="podc-embed-wrap">
  <style>
@import url("{{ BASEURL }}{% static "embed.css" %}");
  </style>
  {% include "shirkers/search.html" %}
  <div class="podc-result"></div>
  <script>
$( function() {
	document.body.classList.add("podc");
  $('.podc-search-form').on('submit', function (e) {
    e.preventDefault();
    e.stopImmediatePropagation();

    fetchCompany(
      encodeURIComponent(
        $("#id_q").val()
      )
    );
  });

  function fetchCompany(company_id) {
		var url = '{{ BASEURL }}/embed/result/' + company_id + '/';
    $('.podc-result').load(url);
  }

  $( "#id_q" ).autocomplete({
		source: "{{ BASEURL }}{% url "home" %}?format=json",
    minLength: 2,
    select: function( event, ui ) {
      fetchCompany(ui.item.id);
    }
  });
} );
  </script>
</section>
